<div class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h1>Thông tin </h1>
            <p>Cửa hàng Junior Sport</p>
            <p><i class="bi bi-telephone-fill"></i> 0842 285 xxx </p>
            <p><i class="bi bi-envelope-at-fill"></i> JuniorSport11&#64;gmail.com</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/Neymarsport47" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/neymarsport47/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@neymarsport47?lang=vi-VN" target="_blank">
                    <i class="bi bi-tiktok"></i>
                </a>
                <a href="https://mail.google.com/mail/u/0/?hl=vi#inbox" target="_blank">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </div>


        <div class="footer-section">
            <h1>Dịch vụ</h1>
            <ul>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Tìm kiếm giày</a></li>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Thuê giày</a></li>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Vệ sinh giày</a></li>
            </ul>
        </div>


        <div class="footer-section">
            <h1>Hướng dẫn</h1>
            <ul>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Hướng dẫn thuê giày</a></li>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Hướng dẫn thanh toán</a></li>
                <li><a href=""><i class="bi bi-arrow-bar-right"></i>Hướng dẫn bảo hành</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h1>Đăng ký nhận thông tin</h1>
            <p>Nhận thông báo sách mới của cửa hàng qua email.</p>
            <div class="newsletter">
                <input type="email" placeholder="Nhập email của bạn" />
                <button>Đăng ký</button>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>©Shop giày Junior Sport, Bản quyền thuộc về NeymarSport.</p>
         
    </div>
</div>
